* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.accounts,
.dashboard,
.contactus,
.purchase ,
.Accounts,.Payment,.reviews,.setting,.addsub{
  display: flex;
  height: 90vh;
  justify-content: center;
  font-size: 3rem;
  color: black;
}

/* Navbar CSS */
.logout{
  color: #151414;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
  width: 50px;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-x: auto;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;

}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  border-radius: 4px;
  opacity: 0.7;
}

.nav-text a:hover {
  opacity:1.0;
}

.nav-menu-items {
  width: 100%;
}



span {
  margin-left: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  opacity: 0.8;
}
.menu{
  color: #E64E4D;
  letter-spacing: 1px;
  line-height: 11px;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 30px;
  list-style: none;
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 15px;

}
.svg{
  margin : 0;
  padding: none;
}
.svg.d{
  margin-top: 0px;
  margin-left: -3px;
}
.topbar{
  display: flex;
  justify-content: flex-end;
  height: 200px;
  width: 100%;
  font-size: 0.75rem;
}
.ContactUs{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
}
.Outer-contactus{
  margin-left: 250px;
}
.Outer-contactus h1{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Outer-contactus label{
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
}
.Outer-contactus input,textarea{
  height: 55px;
  width: 460px;
  outline: none;
  border: none;
  background-color: #F1F1F1;
  margin-bottom: 15px;
  margin-top: 7px;
  text-indent: 7px;
  font-size: 1rem;
}
.sendmsg{
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: #E64E4D;
  border: none;
  outline: none;
  color: #ffffff;
}
.logo{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  height: 15vh;
}
.topbar{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.topbar-heading {
  width: 100%;
  margin-left: 20px;
  
}
.topbar-heading h1{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #E64E4D;
  margin-left: 460px;
}
.topbar-user{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}
.topbar-user img{
  height: 40px;
  width: 40px;
}
.topbar h3{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.logo-text{
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
.logo-image{
  margin-left: 30px;
}

.details{
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
}
.details-box{
  display: flex;
  justify-content: flex-start;
  width: 875px;
}