#root {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

}

:root{
  --width: 225px;
}
.Box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: white;
  height: 420px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;       
  width: 330px;
}
#email,#password,#confirmPassword{
  border: 1px solid lightgrey;
  outline: none;
  text-indent: 7px;
  border-radius: 10px;
  width: var(--width);
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F0EDFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#password{
  margin-bottom: 5px;
}
.submitButton{
  align-self: center;
  border-radius: 15px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #F48881;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  height: 40px;
  width: 80px;
}

label{
  font-weight: 550;

}
.dashboard{
  height: 100vh;
  color: white;
}
.header{
  margin-top: 30px;
}
#hello,#welcome{
  margin: 0;
  font-size: 1.5rem;
}
#hello{
  font-weight: 500;
  margin-bottom:0 ;
}
#welcome{
  font-weight: 900;
}
.new-user{
  text-decoration: none;
  font-weight: 400;
  color: darkgray;
  font-size: 0.8rem;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.new-user.login{
  text-decoration: none;
  font-weight: 400;
  color: darkgray;
  font-size: 0.8rem;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 15px;
}
.toggle{
 
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  font-size: 0.85rem;
  color: #525252;

}
.forget-password{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 0.67rem;
  margin-left: 5px;
  cursor: pointer;
}
.label-input{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--width);
  margin-bottom: 10px;
}
